<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="tasmota-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>Tasmota</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="(deviceType != '4ch')">
      <div>
        <mat-slide-toggle
          class="example-margin"
          [color]="'warn'"
          [checked]="status"
          (change)="sendRelayStatus($event)">
        </mat-slide-toggle>
        {{label}}
      </div>
    </div>

    <div *ngIf="(deviceType == '4ch')">
      <div>
        <div>
          1 -
          <mat-slide-toggle
            class="example-margin"
            [color]="'warn'"
            [checked]="status1"
            (change)="sendRelayStatus($event, '1')">
          </mat-slide-toggle>
          {{label}}
        </div>
      </div>
      <div>
        <div>
          2 -
          <mat-slide-toggle
            class="example-margin"
            [color]="'warn'"
            [checked]="status2"
            (change)="sendRelayStatus($event, '2')">
          </mat-slide-toggle>
          {{label}}
        </div>
      </div>
      <div>
        <div>
          3 -
          <mat-slide-toggle
            class="example-margin"
            [color]="'warn'"
            [checked]="status3"
            (change)="sendRelayStatus($event, '3')">
          </mat-slide-toggle>
          {{label}}
        </div>
      </div>
      <div>
        <div>
          4 -
          <mat-slide-toggle
            class="example-margin"
            [color]="'warn'"
            [checked]="status4"
            (change)="sendRelayStatus($event, '4')">
          </mat-slide-toggle>
         {{label}}
        </div>
      </div>
    </div>

    <div>
      <div *ngFor="let reading of readings;">
        {{reading.key}}: {{reading.reading}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
