<h2 style="color: #F5F5F6; padding: 5px;">LED</h2>


<mat-accordion class="example-headers-align" multi>
  <ng-container *ngFor="let server of serversArr; index as i;">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="disable_ripple">
        <mat-panel-title>
          {{ server.title }} - {{ server.host }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngIf="isIs(server.title ,'Svetaine')">
        <app-mqtt-zigbee-snippet></app-mqtt-zigbee-snippet>
      </ng-container>

      <app-led-control-panel
        [server]="server"
      ></app-led-control-panel>

    </mat-expansion-panel>
  </ng-container>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <mat-panel-title>
        PaLėPė
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="display: flex;">
      <app-tasmota-snippet [title]="'hub.local'" [device]="'tasmota/top/mqtt/'"></app-tasmota-snippet>
      <app-tasmota-snippet [title]="'plant'" [device]="'tasmota/top/plant/'"></app-tasmota-snippet>
      <app-tasmota-snippet [title]="'serveris'" [device]="'tasmota/top/server/'"></app-tasmota-snippet>
      <app-tasmota-snippet [title]="'rpi.rozete'" [device]="'tasmota/top/rpi.rozete'"></app-tasmota-snippet>
<!--      <app-tasmota-snippet [title]="'rpi'" [device]="'tasmota/top/rpi/'"></app-tasmota-snippet>-->
    </div>
  </mat-expansion-panel>

</mat-accordion>
