# sudo nano /etc/systemd/system/tangerine-ui.service
#
# TODO: symlink it
# sudo cp /home/madcatzx/projects/orange-home-automator-ui/tangerine-ui.service /etc/systemd/system
#
# sudo systemctl enable tangerine-ui
# sudo systemctl daemon-reload
# sudo systemctl start tangerine-ui
# sudo systemctl stop tangerine-ui
# sudo systemctl restart tangerine-ui
#
# sudo journalctl -u tangerine-ui

[Unit]
Description=tangerine-ui-description
After=network.target

[Service]
WorkingDirectory=/home/madcatzx/projects/orange-home-automator-ui
ExecStart=/usr/local/bin/node /home/madcatzx/projects/orange-home-automator-ui/ng serve --watch --ssl

Restart=always
User=madcatzx
#Group=group

Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

# Setting up APP as a deamon https://stackoverflow.com/questions/4903570/how-does-one-start-a-node-js-server-as-a-daemon-process

