<form class="example-form" #f="ngForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            <mat-form-field>
                <input matInput placeholder="Email"  type="email" name="email" required ngModel>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" name="password" required ngModel>
            </mat-form-field>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="onLogin(f)" color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</form>
