<div>
  <div style="color: white; font-size: 1.5rem; padding: 10px 0 0 10px;">
    REKUPAS
  </div>
  <div class="buttons-container">
    <div class="req-button" [ngClass]="isSet('AWAY')" (click)="setMode('AWAY')">
      AWAY
    </div>
    <div class="req-button" [ngClass]="isSet('NORMAL')" (click)="setMode('NORMAL')">
      NORMAL
    </div>
    <div class="req-button" [ngClass]="isSet('INTENSIVE')" (click)="setMode('INTENSIVE')">
      INTENSIVE
    </div>
    <div class="req-button" [ngClass]="isSet('BOOST')" (click)="setMode('BOOST')">
      BOOST
    </div>
  </div>
</div>