<mat-card class="result">
    <mat-card-content>
        <h2 class="example-h2" [ngClass]="{'is-off' : _disabled}">Lights are {{ label  }}</h2>
        <section class="example-section">
            <mat-slide-toggle
                    class="example-margin"
                    [checked]="returnBool(_ledState)"
                    [disabled]="returnBool(_disabled)"
                    (change)="dispatchLedControlAction()"
            >
                <!-- Switch On/Off -->
            </mat-slide-toggle>
        </section>
    </mat-card-content>
</mat-card>

<div [style.background-color]="currentColor"></div>
