<mat-card class="result">
    <mat-card-content>
        <h2 class="example-h2">Lights are {{ label  }}</h2>

        <section class="example-section">
            <mat-slide-toggle
                    class="example-margin"
                    [(ngModel)]="ledState"
                    [checked]="ledState"
                    [disabled]="disabled"
                    (change)="dispatchLedControlAction()"
            >
                <!-- Switch On/Off -->
            </mat-slide-toggle>
        </section>
    </mat-card-content>
</mat-card>

<div [style.background-color]="currentColor"></div>
