<div class="flex-parent">
  <div *ngFor="let host of hosts;" class="host">
    <h2 class="h2a">{{host.title}}</h2>
    <div *ngFor="let zone of host.zones;" class="zone">
      <h2 class="h2b">{{zone.title}}</h2>
      <div class="flex-kid">
        <ng-container *ngFor="let metric of zone.metrics;">
          <app-metric-snippet *ngIf="metricIsDefined(results, host.title + zone.id, metric)"
                              [title]="metric"  [value]="results[host.title + zone.id][metric]"
          >
          </app-metric-snippet>
        </ng-container>
      </div>
    </div>
  </div>
</div>
