.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 10px;
}

.example-selected-value {
  margin: 20px 0;
}

@media (max-width: 375px) {
  .flex-parent {
    display: flex;
  }

  .flex-kid {
    width: 145px;
  }
}
