<br/>
<br/>

<button mat-raised-button
        (click)="goToLink('http://hub.local:8081/#/dashboard')"
        color="warn">hub.local</button>

<button mat-raised-button
        (click)="goToLink('http://192.168.1.69/')"
        color="warn">Rekupas</button>
<hr/>

<button mat-raised-button
        (click)="goToLink('http://192.168.1.120')"
        color="warn">TASMOTA hub</button>

<button mat-raised-button
        (click)="goToLink('http://192.168.1.57')"
        color="warn">TASMOTA flower</button>

<!--http://192.168.1.101/cm?cmnd=status%2010-->
<button mat-raised-button
        (click)="goToLink('http://192.168.1.101')"
        color="warn">TASMOTA pastoge</button>

<button mat-raised-button
        (click)="goToLink('http://192.168.1.162')"
        color="warn">TASMOTA RPI rozete</button>
<hr/>

<button mat-raised-button
        (click)="goToLink('http://192.168.1.132')"
        color="warn">RPI sunny</button>

<button mat-raised-button
        (click)="goToLink('http://192.168.1.54')"
        color="warn">RPI wurk</button>

<button mat-raised-button
        (click)="goToLink('http://192.168.1.55')"
        color="warn">RPI shady</button>
<hr/>

<p style="color: white; padding-left: 10px;">
    v1.3.0
</p>

<mat-card>
  <button mat-raised-button
          (click)="downloadCert(
          'serveris.local',
          'serveris.local.rootCA.pem'
          )" color="primary">serveris.local</button>
</mat-card>

<mat-card>
  <button mat-raised-button
          (click)="downloadCert(
          'shady.local',
          'shady.local.rootCA.pem'
          )" color="primary">shady.local</button>
</mat-card>

<mat-card>
  <button mat-raised-button
          (click)="downloadCert(
          'sunny.local',
          'sunny.local.rootCA.pem'
          )" color="primary">sunny.local</button>
</mat-card>

<br/>
<hr/>
<br/>

<button mat-raised-button
        (click)="goToLink('http://serveris.local:3000/')"
        color="warn">Grafana</button>

<button mat-raised-button
        (click)="goToLink('http://serveris.local:5601/')"
        color="warn">Kibana</button>

<button mat-raised-button
        (click)="goToLink('http://serveris.local:9000')"
        color="warn">Portainer</button>
<hr/>

<button mat-raised-button
        (click)="goToLink('http://serveris.local:27017/')"
        color="warn">http://serveris.local:27017/</button>

<button mat-raised-button
        (click)="goToLink('serveris.local:8081')"
        color="warn">serveris.local:8081</button>
<hr/>

<button mat-raised-button
        (click)="goToLink('http://serveris.local:9202/')"
        color="warn">http://serveris.local:9202/</button>

<button mat-raised-button
        (click)="goToLink('http://serveris.local:9090/')"
        color="warn">http://serveris.local:9090/</button>

<button mat-raised-button
        (click)="goToLink('http://shady.local:9100/')"
        color="warn">http://shady.local:9100/</button>
<hr/>
