<app-led-state-switch 
    [state]="ledState"
    (change)="(ledState = ($event) ? 1 : 0)"
    ></app-led-state-switch>

<app-led-sliders
    [state]="ledState"
    [sliders]="sliders"
    (change)="onSlidersChange($event)"
    ></app-led-sliders>

<mat-card class="result">
  <mat-card-content>
      <mat-radio-group [(ngModel)]="ledMode" 
        class="example-radio-group" 
        (change)="onLedModeSelect($event)" >
          <mat-radio-button class="example-radio-button"
           *ngFor="let ledModeIn of ledModesList" 
           [value]="ledModeIn.code" 
           checked="ledModeIn.code === ledMode"
           [name]="ledModeIn.title"
           >
              {{ledModeIn.title}}
          </mat-radio-button>
      </mat-radio-group>
  </mat-card-content>
</mat-card>
