mat-slider.sli1> div > div.mat-slider-track-wrapper > div.mat-slider-track-fill,
mat-slider.sli1 > div > div.mat-slider-thumb-container > div.mat-slider-thumb
{
  background-color: red;
}

mat-slider.sli2> div > div.mat-slider-track-wrapper > div.mat-slider-track-fill,
mat-slider.sli2 > div > div.mat-slider-thumb-container > div.mat-slider-thumb
{
  background-color: green;
}

mat-slider.sli3 > div > div.mat-slider-thumb-container > div.mat-slider-thumb,
mat-slider.sli3> div > div.mat-slider-track-wrapper > div.mat-slider-track-fill
{
  background-color: blue;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 10px;
}

.example-selected-value {
  margin: 20px 0;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 5px;
}