<nav>
    <div class="navigation">
        <div class="flex-cont">
            <div class="buttons" style="margin-top: 10px; margin-left: 20px;">
                MND-H
            </div>
            <div class="buttons">
                <ul>
                    <li>
                        <a routerLink="/sensors/graphs">
                            <i class="material-icons">show_chart</i>
                        </a>
                    </li>
                    <!-- <li>
                        <a routerLink="/history">
                            <i class="material-icons">dns</i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/highcharts">
                            <i class="material-icons">pie_chart</i>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="/lightomator/led">
                            <i class="material-icons">highlight</i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/lightomator/timing">
                            <i class="material-icons">alarm</i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/lightomator/led/effects">
                            <i class="material-icons">filter_vintage</i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/lightomator/led/openpixel">
                            <i class="material-icons">blur_linear</i>
                        </a>
                    </li>
                    <li *ngIf="isEmulated">
                        <a routerLink="/led-emulator">
                            <i class="material-icons">brightness_high</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div (click)="onLogout()" class="logout">
            <ul>
                <li>
                    <a>
                        <i class="material-icons">exit_to_app</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="top-msgs">
        <app-connection-status *ngIf="isEmulated"
            [showOn]="'always'"
            [messsageOk]="'LED emulator connected ;)'"
            [messsageFail]="'LED emulator is not connected !!!'"
            [endpointConfigKey]="'nest'"
            ></app-connection-status>
    </div>
</nav>